{% extends "base.html" %}

{% block articletitle %}
{{ article.title }}
{% endblock %}

{% block articletoc %}
{% if article.toc %}
    <div class="toc">
    <h4> 目录 </h4>
    {{ article.toc }}
    </div>
{% endif %}
{% endblock %}

{% block articlecontent %}
{{ article.content }}
{% endblock %}

{% block coverpic %}
{% if category=="python" %}
<div class="cover-pic" style="background-image: url(/theme/img/physics.jpg)"></div>
{% else %}
<div class="cover-pic" style="background-image: url(/theme/img/lib.jpg)"></div>
{% endif %}
{% endblock %}
