<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
        {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/theme/css/main.css">
        {% endblock head %}

        <!--{% include "analytics.html" %}-->
</head>

<body id="index" class="home">

{% block content %}
<div class="pure-container" data-effect="pure-effect-slide">
    <input type="checkbox" id="pure-toggle-left" class="pure-toggle" data-toggle="left">
    <label class="pure-toggle-label" for="pure-toggle-left" data-toggle-label="left">
        <span class="pure-toggle-icon"></span>
    </label>
    
    <div class="pure-drawer" data-position="left">
        <div class="cover-pic"></div>
        <div class="drawer-container">
            <ul>
                <li><a href="/index.html">主页</a></li>
                <li><a href="/category/python">Python教程</a></li>
                <li><a href="/category/toolbox">工具箱</a></li>
                <li><a href="/category/treasuremap">学习路线图</a></li>
                {% for page in pages %}
                <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="pure-pusher-container">
        <div class="pure-pusher">
            <div id="content_container">
                <section id="content" class="body">
                    <article>
                        <header>
                            <h1 class="entry-title">
                                {% block articletitle %}{% endblock %}
                            </h1>
                        </header>
                            {% block articletoc %}{% endblock %}
                        <div class="entry-content">
                            {% block articlecontent %}{% endblock %}
                        </div>
                    </article>
                </section>
</div>
        </div>
    </div>
    <label class="pure-overlay" for="pure-toggle-left" data-overlay="left">
    </label>
</div>

{% endblock %}
{% include "cnzz.html" %}

<script src="/theme/js/main.js"></script>
</body>
</html>
