{% extends "base.html" %}

{% block articletitle %}
    {% if category|string=="python" %}
    Python教程
    {% elif category|string=="toolbox" %}
    工具箱
    {% elif category|string=="treasuremap" %}
    学习路线图
    {% endif %}
{% endblock %}

{% block articlecontent %}
<div class="tableofcontent">
    <ul>
        {% for article in articles %}
        <li><a href='{{ SITEURL }}/{{ article.url }}'>{{ article.title }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
