{% extends "base.html" %}

{% block content %}

<div class="banner-container">
    <div style="background-image: url(/theme/img/library.jpg)" class="welcome-banner-bg">
    </div>
    <div class="welcome-banner">
        欢迎来这里看看
    </div>
</div>

<div class="index-content">
    <p>
    在这里你可以学习Python：<a href="/category/python.html">点击查看Python教程</a>。
    </p>
    <p>
    也可以参考我在工作中积累下来的各种技巧和工具使用方法：<a href="/category/toolbox.html">点击查看工具箱</a>。
    </p>
    <p>
    这里也有一些我总结的学习路线图可以参考：<a href="/category/treasuremap.html">点击查看学习路线图</a>
    </p>
    <p>
    关于本站的信息：<a href="/pages/about.html">点击查看本站信息</a>。
    </p>
    <h2>本站尚处于施工阶段，版本号0.7</h2>
    <h4>更新于2015-10-19</h4>
    <p>工具箱栏目添加了介绍Pelican的内容</p>
    <p>版本号更新为0.7</p>
    <h4>更新于2015-10-17</h4>
    <p>学习路线图栏目下增加了复杂网络的部分</p>
    <p>为文章增加了目录</p>
    <p>把如何学习英语的文章移动到了学习路线图目录下</p>
    <h4>更新于2015-10-14</h4>
    <p>学习路线图栏目增加了很多内容</p>
    <p>工具箱栏目增加了vim的部分</p>
    <p>版本号更新为0.6</p>
    <h4>更新于2015-10-13</h4>
    <p>增加了学习路线图栏目，以及一些内容</p>
    <h4>更新于2015-08-01</h4>
    <p>Python教程下添加了默认参数的内容</p>
    <h4>更新于2015-07-04</h4>
    <p>Python教程下添加了Python环境配置的内容</p>
    <h4>更新于2015-05-24</h4>
    <p>Python教程下添加了函数式编程的内容</p>
    <h4>跟新于2015-04-11</h4>
    <p>Python教程下添加了模块的相关内容</p>
    <p>Python教程下添加了io相关的内容</p>
    <h4>更新于2015-04-07</h4>
    <p>工具箱目录下增加了《如何学习英语》</p>
    <p>工具箱目录下更新了《如何通过互联网找到你想要的答案》</p>
    <p>工具箱目录下增加了《如何写一份优雅的文档》系列文章</p>
    <h4>更新域2015-04-04</h4>
    <p>整站更换了新主题</p>
    <p>调整了Python教程的顺序</p>
</div>

{% endblock content %}
